{% extends "base.html" %}
{% load static %}

{% block title %}
    Product
{% endblock %}



{% block content %}

<div class="container py-5 ">
    <div class="row mt-5 ">
        <div class="col-10 mx-auto col-md-6 my-3  text-center">
            <img src="{% static 'images/Darts.jpg' %}">
        </div>
    </div>
</div>
<div class="col-10 mx-auto col-md-6 my-3 text-center">
    <div>
        <h1 class="product_title">Darts</h1>
        <h5 class="text-info font-italic mb-4">$9.99</h5>
        <p class="product_desc">Product Descrition</p>
        <p class="text-justify product_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. In omnis quisquam, nobis corrupti officia ea minima, nam sapiente accusamus quis voluptatibus harum magnam aliquam repudiandae iusto. Vel accusamus modi recusandae?</p>
        <p class="text-justify product_text text-center">Out Of Stock</p>
    </div>
</div>

{% endblock %}



